h1 {
    color: red;
    background: powderblue;
    border: 5px solid gold;
    text-align: center;
}
#haha {
    color: royalblue;
    background: red;
    margin: 50px;
    padding: 10px;
}
#new {
    color: olivedrab;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
}
body {
    background: orchid;
}
a {
    background: blue;
    color: white;
    text-decoration: none;
    margin: 50px;
    padding: 10px;

}